a{
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  opacity: 0.7;
}

img{
  size: 100%;
  height: 50%;
}

#menu{
  background-color: #000;
  height: 35px;
  width: 100%;
}

#menu td{
  font: 14px sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

#site-head tr{
  color: #000;
}

#logo{
  text-align: left;
  color: #b88b58;
  text-transform: normal;
}
#foot{
  background-color: #333;
  color: #fff;
  height: 100px;
  padding: 0 15% 5px 15%;
  margin: 0;
  min-height: 10%;
  vertical-align: top;
  width: 100%;
}

#foot tr td{
  padding: 0;
  margin: 0;
  width: 40px;
  vertical-align: top;
  
}

#copyr td{
  padding: 0 50px;
  margin: 10px;
}

#calendar{                  /*Правила для календаря*/
  height: 400px;
  width: 400px;
  border: solid 1px #000;
  border-spacing: 0px;
	font-family: Sans-serif;
}

#monthAndYear{
  min-width: 200px;
  text-align: center;
}

#prevMonth{
  /*border: 20px solid transparent;
  border-right: 20px solid green;*/
  margin-right: 20px;
}

#nextMonth{
  /*border: 20px solid transparent;
  border-left: 20px solid green;*/
  margin-left: 20px;
}

#td-time{
  text-align: center;
}

.foot-hint{
  color: #999;
  text-align: center;
}

.cal-cell{
  border: 1px solid #000;
}

.today{
  font-weight: bold;
  border: 3px solid red;
}

.holydays{
  color: #f00;
	font-weight: bold;
}

.hidden-days{
  background-color: hsl(0, 2%, 65%);
}                           


                                       /*Правила для календаря*/

.bg-img{
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  vertical-align: bottom;
  height: 110%;
  width: 33%;
}

.foot-headers{
  color: #999;
  font-family: Sans-serif;
  text-transform: uppercase;
}